consumes:
- application/io.goswagger.examples.todo-list.v1+json
info:
  description: For the Kabanero REST service
  title: Kabanero REST API
  version: 1.0.0

definitions:
  message:
    type: object
    required:
      - message
    properties:
      message:
        type: string
        minLength: 1
    
  KabaneroStack:
    type: object
    properties:
      name:
        type: string
      status:
        type: array
        items:
          type: object
          properties:
            status:
              type: string
            version:
              type: string
            digest check: 
              type: string
            image digest:
              type: string
            kabanero digest:
              type: string
            Image name:
              type: string
            
    
  DescribeStack:
    type: object
    properties:
      name: 
        type: string
      version:
        type: string
      project:
        type: string
      image:
        type: string
      status:
        type: string
      digest check:
        type: string
      image digest:
        type: string
      kabanero digest:
        type: string
      image name:
        type: string
      apps:
        type: array
        items:
          type: object
          properties:
            instance:
              type: string
            managedby:
              type: string
            name:
              type: string
            partof:
              type: string
            version:
              type: string
      
            
  # END stack related defs 
  
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string


paths:
  /:
    get:
      tags:
        - message
      responses:
        200:
          description: standard message response
          schema:
            $ref: "#/definitions/message"
  /test:
    get:
      tags:
        - message
      responses:
        200:
          description: standard message response
          schema:
            $ref: "#/definitions/message"

  /version:
    get:
      tags:
        - message
      responses:
        200:
          description: standard message response
          schema:
            $ref: "#/definitions/message"
              

  /v1/stacks:
    get:
      operationId: list
      responses:
        200:
          description: list successful
          schema:
            type: array
            items:
              $ref: '#/definitions/KabaneroStack'
        500:
          description: list stack error
          schema:
            $ref: "#/definitions/message"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  
  /v1/describe/stacks/{stackName}/versions/{version}:
    get:
      operationId: describe
      parameters:
      - name: stackName
        in: path
        type: string
        required: true
      - name: version
        in: path
        type: string
        required: true
      responses:
        200:
          description: describe stack
          schema:
            $ref: '#/definitions/DescribeStack'
        500:
          description: describe stack error
          schema:
            $ref: "#/definitions/message"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
            
produces:
- application/io.goswagger.examples.todo-list.v1+json
schemes:
- http
swagger: "2.0"
  